<div class="col-sm-9">
  <%= render 'layouts/messages' %>
</div>

<% if @result %> 
  <table class="table table-bordered table-striped table-dark table-hover">
    <thead>
      <tr>
        <th scope="col"><%= @result.name %></th>
      </tr>
    </thead>
  </table>
<% end %>

