<div class="col-sm-12">
  <%= render 'layouts/messages' %>
</div>

<% if @result %> 
  <table class="table table-bordered table-color table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-white text-center"><%= @result.name %></th>
      </tr>
    </thead>
  </table>
<% end %>

