<%= form_tag search_articles_path, remote: true, method: :get do %>
  <div class="form-group row ">
    <div class="col-sm-9">
      <%= text_field_tag :search, params[:search], autofocus: true, class: "form-control mr-n5", placeholder: 'Search for stock' %>
    </div>
    <div class="col-sm-3">
      <%= button_tag type: :submit, class: "btn btn-success ml-n5 form-margin-left" do %>
        <%= fa_icon 'search' %>
      <% end %>
    </div>
  </div>
<% end %>

<div id="result"> 
</div>