<h1>Welcome#index</h1>


<% if current_user %> 
  <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
<% else %> 
    
    <%= link_to 'log in', new_user_session_path %>
<% end %>
    
